body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* header section */

.header-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    flex-wrap: wrap;
}

.header-menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.subtext {
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}


.header-body {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-between;
}

.header-text-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text-container .header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 0;
    border: none;
    border-radius: 8px;
}


/* information section */

.information-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 15px;
    padding: 15px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.quote-author {
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    padding-right: 20px;
    margin: 0;
}